$green: #219150;
$black: #10221b;
$white: #fff;
$light_bg: #eee;
$dark-bg: rgba($black, .7);
$border: 2px solid $black;
$box_shadow: 0 .5rem 1rem rgba($black, .1);

$links_separated: 2.5rem;
$large_index: 1000;
$padding_lg_screen: 9%;
$padding_md_screen: 2rem;