  $clr-primary: #6f6af8;
  $clr-primary-light: hsl(242, 91%, 69%, 18%);
  $clr-primary-variant: #5854c7;
  $clr-red: #da0f3f;
  $clr-red-light: hsl(346, 87%, 46%, 15%);
  $clr-green: #00c476;
  $clr-green-light: hsl(156, 100%, 38%, 15%);
  $clr-gray-900: #1e1e66;
  $clr-gray-700: #2d2b7c;
  $clr-gray-300: rgba(242, 242, 254, 0.3);
  $clr-gray-200: rgba(242, 242, 254, 0.7);
  $clr-white: #f2f2fe;
  $clr-bg: #0f0f3e;

  $transition: all 300ms ease;

  $container-width-lg: 74%;
  $container-width-md: 88%;
  $form-width: 40%;

  $border-radius-1: 0.3rem;
  $border-radius-2: 0.5rem;
  $border-radius-3: 0.8rem;
  $border-radius-4: 2rem;
  $border-radius-5: 5rem;