* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: font-h;
  src: url(font/arial.ttf);
}

@font-face {
  font-family: font-p;
  src: url(font/calibri.ttf);
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  padding: 30px 40px 40px;
  color: white;
}

body> :first-child,
body > :first-child > :last-child {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img:first-of-type {
  position: absolute;
  width: 150px;
  top: 0;
  left: 0;
}

img:nth-of-type(2) {
  width: 100%;
  margin: 45px 0;
}

h3 {
  font-family: font-h;
  text-align: center;
  line-height: 2em;
  letter-spacing: .05em;
  font-size: 1.5em;
  opacity: .9;
}

p {
  padding: 15px;
  font-family: font-p;
  text-align: center;
  line-height: 1.5em;
  opacity: .8;
}

a:hover {
  background: transparent;
}

button {
  padding: 10px 80px;
  margin: 10px;
  font-family: font-h;
  font-weight: 400;
  border-radius: 40px;
  border: none;
  font-size: 15px;
  color: hsl(257, 52%, 57%);
  background-color: white;
  box-shadow: 2px 2px 10px hsl(256, 40%, 26%);
}

button:hover {
  color: white;
  background-color: hsl(300, 69%, 71%);
}




































.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}