/* START SPECIALISTS SECTION STYLES */

#specialists {
  .container {
    width: 68%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 0;
    gap: 2rem;

    article {
      background: $white-color;
      @include br_radius(1rem);
      box-shadow: 0 1.5rem 1.5rem rgba($black-color, .1);
      position: relative;
      @include transition(all .3s ease);
      overflow: hidden;

      &:hover,
      &:focus {
        box-shadow: none;

        .specialist__img::before {
          left: 0;
          border-radius: 1rem;
        }

        .specialist__socials {
          a {
            translate: 0;
            @include transition(translate .4s ease);
            box-shadow: 0 0 10px rgba($black-color, .2);

            @for $i from 1 through 4 {
              &:nth-child(#{$i}) {
                transition-delay: 1s + $i * 100ms;
              }
            }
          }
        }

        .specialist__whatsapp {
          left: 50%;
          opacity: 1;
          box-shadow: 0 0 10px rgba($black-color, .2);
          transition-delay: 1s + 600ms;
        }
      }

      .specialist__img {
        height: 20rem;
        border-radius: 1rem;
        position: relative;
        overflow: hidden;

        &::before {
          height: 100%;
          width: 100%;
          left: -100%;
          top: 0;
          display: block;
          background: linear-gradient(135deg,
              rgba($primary-color, .8),
              rgba($primary-color-variant, .8));
          @include br_radius(50%);
          @include transition(all 1s ease);
        }
      }

      .specialist__details {
        margin-block: 1rem;
        text-align: center;

        h4 {
          text-transform: capitalize;
        }
      }

      .specialist__socials {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1.2rem;
        @include centre_flex;
        flex-direction: column;
        gap: 1rem;
        overflow: hidden;

        a {
          background-color: $white-color;
          color: $primary-color;
          width: 2rem;
          height: 2rem;
          @include centre_flex;
          @include circle;
          @include transition(translate .4s ease);
          translate: 200%;

          @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              @include transition(translate .4s ease);
            }
          }

          &:hover {
            background-color: $primary-color;
            color: $white-color;
          }
        }
      }

      .specialist__whatsapp {
        background: $success-color;
        color: $white-color;
        position: absolute;
        // left: 50%;
        bottom: 25%;
        translate: -50% 0;
        width: 2rem;
        height: 2rem;
        @include centre_flex;
        @include circle;
        @include transition(left .4s ease, opacity .4s ease);
        opacity: 0;
        left: 90%;

        &:hover {
          background-color: $white-color;
          color: $success-color;
        }
      }
    }
  }
}

/* END SPECIALISTS SECTION STYLES */