/*==================================
======== EMPTY PAGE STYLES =========
==================================*/

.empty__page {
  height: 70vh;
  display: grid;
  place-items: center;
  text-transform: capitalize;
}