/*==================================
========== POSTS STYLES ============
==================================*/

.posts {
  .posts__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  .post__image {
    margin-bottom: 1rem;
  }
}